{% extends 'base.html' %}
{% block title %}Set new password{% endblock %}

{% block content %}
{% if validlink %}
<div class='standard'>
	<h4>Please enter you new password, and then again to confirm</h4><br/>
	<form method='post'>
		{% csrf_token %}
		{{ form.new_password1.errors }}
		<p><label for='id_new_password1'>New password:</label> {{ form.new_password1 }}</p><br />
		{{ form.new_password2.errors }}
		<p><label for='id_new_password2'>New password (confirm):</label> {{ form.new_password2 }}</p><br />
		<p><input type='submit' value='Set new password' /></p>
	</form>
</div>
{% else %}
<div class='standard'>
	<h4>Reset link invalid</h4></br>
	<p>The password reset link used was invalid,<br />
	Please request a new password reset link.</p>
</div>