{% extends 'base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
<div class='standard'>
<h2>Password Reset</h2>
<hr />
<h4>Please enter your email address to receive password reset instructions</h4>
<br />

<form method="post">
	{% csrf_token %}
	{{ form.email.errors }}
	<p><label for="id_email">E-mail address: </label>{{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
<br />
<button type="button"><a href="/supportal/">Return to Login</a></button>
</div>
{% endblock %}