{% load static %}
<html>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="alt stylesheet" href="{% static 'css/supportal.css' %}">
	<div class="page-header">
	<head>
	<img style="display:inline-block;vertical-align:top;" src="{% static 'oaklabs-logo.png' %}" alt="Logo"/><div style="display:inline-block;padding-left:10px;padding-top:10px"><h4>Oak Labs</h4><h2>Supportal</h2></div>
	{% if request.user.is_authenticated %}
	<div align='right'>
		<h4><a href="/supportal/updateprofile">{{ request.user.username }}&rsquo;s account</a></h4>
		<h4><a href="/supportal/logout">Logout</a></h4>
		</div>
	{% endif %}
		</head>
	</div>
	<body>
		{% block content %} {% endblock %}
		{% if request.user.is_superuser %}
		<div class="admin" align="right">
		<button><a href="/admin/">Admin Panel</a></button>
		</div>
		{% endif %}
	</body>
</html>