<!-- DOCTYPE html -->
<html>
	{% extends 'base.html' %}
	{% block content %}
	<body>
	<div class='standard'>
	{% if user.is_authenticated %}
		<center>
		<h1>Hello, {{ request.user.first_name }}!</h1>
		<hr />
		</div>
		<form action="/supportal/create">
		<input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Issue" />
		</form>
		</br>
		<form action="/supportal/viewIssues">
		<input type="submit" class="btn btn-primary btn-lg btn-block" value="View Current Issues" />
		</form>
	{% endif %}
	</body>
	{% endblock %}
</html>